#TODO: Implement in YAML format
#Properties File FTP to server

server_address=localhost
userid=vijay
password=password
port=21
local_directory=/Users/vijay/temp/input/EPPDataFeed
remote_directory=/Users/vijay/temp/output/adobe
mapped_directory=/Users/vijay/temp/mapped
backup_directory=/Users/vijay/temp/backup