#TODO: Implement in YAML format
#Properties File FTP to server

server_address=localhost
userid=vijay
password=password
port=21
#Location of source files in FTP (kp-intranet)
local_directory=/Users/vijay/temp/input/EPPDataFeed
#Location of source files in local working folder (KP-personalization)
mapped_directory=/Users/vijay/temp/mapped
#Location of source files in local working folder (KP-personalization)
backup_directory=/Users/vijay/temp/backup
#Location of source files Merged & Obfucated local working folder (KP-personalization)
merged_directory=/Users/vijay/temp/merged
#Location of Destination files in FTP (Kp-Internet)
send_directory=/Users/vijay/temp/send
#Location of Destination files in FTP (Adobe-Internet)
remote_directory=/Users/vijay/temp/output
#Script location to export data
script_location=/Users/vijay/research/datamapper/config/export_db_csv.sh